{% for error in form.errors %}
<div class="alert aelrt-danger">
  {% if error == 'form' %}
    {{ form.erros.messages[error]}}
  {% else %}
    {{form.errors.translated_fields[error]}} {{ form.erros.messages[error]}}
    {% endif %}
</div>
{% endfor %}